body{
    background-image: url("yosemite-valley.jpg");
    background-color: darkgreen;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    margin: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    z-index: -10;
}
.background{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    z-index: -5;
}
main{
    color: white;
    text-align: center;
    font-family: lato;
    margin: 0;
    bottom: 0;
}
h1{
    font-size: 50px;
}
.search-form{
    line-height: 15px;
    font-size: 15px;
    padding: 30px;
    text-align: center;
}
.title{
    padding-top: 40px;
    line-height: 20px;
}
input{
    background-color: lightgrey;
    border: solid 1px black;
}
.requested-number, .max-miles{
    width: 40px;
    margin: 10px;
    height: 25px;
}
.starting-point{
    height: 25px;
    width: 150px;
    margin: 10px;
}
.submit{
    background-color: orange;
    border: 1px solid orange;
    color: black;
    border-radius: 5%;
    height: 30px;
    width: 150px;
    font-family: lato;
    font-size: large;
    cursor:pointer;
}
.question{
    margin-top: 20px;
}
ul{
    list-style: none;
}
ul:first-child{
    margin-top: 30px;
}
.image-results{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.big-picture{
    height: 500px;
    width: 500px;
    cursor: pointer;
}
.trail-name{
    font-size: 25px;
}
.searched-form{
    line-height: 5px;
    font-size: 15px;
    margin: 30px;
    padding-top: 10px;
    text-align: center;
    height: 200px;
    margin-top: 10px;
}
.question-new-form{
    width: 30px;
    height: 10px;
}
.sun-movements{
    text-align: center;
}
.weather{
    line-height: 15px;
    margin: 30px;
    padding-top: 30px;
}
#showing-results{
    margin: 30px;
}
.img-container{
  height: 500px;
  width: 500px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.img-itself{
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
}
.img-itself:hover {
    transform: rotateY(180deg);
}
.frontside{
    backface-visibility: hidden;
    height: 100%;
    position: absolute;
    width: 100%;
}
.backside {
    backface-visibility: hidden;
    height: 100%;
    position: absolute;
    width: 100%;
    background-color: darkgreen;
    transform: rotateY(180deg);
    text-align: left;
}
.orangeBox{
    border: 2px solid orange;
    height: 325px;
}
@media screen and (min-width: 700px){
    body{
        background-image: url("mountain-man-1.jpg");
    }
    .search-form{
        line-height: 30px;
        font-size: 30px;
        padding-top: 30px;
        border: red solid 1px;
        justify-content: center;
        align-content: center;
    }
    .searched-form, .weather{
        width: 50%;
    }
    .searched-form{
        margin-left: 30px;
    }
    .weather{
        padding-top: 0;
        display: inline-block;
        align-content: flex-end;
    }
    .orangeBox {
        border: 2px solid orange;
        min-height: 350px;
        max-height: 350px;
    }
     .searched-form {
        line-height: 5px;
        font-size: 15px;
        text-align: center;
        height: 200px;
        display: inline-block;
        align-content: flex-start;
     }
    .weather {
       line-height: 15px;  
    }
    .flexDisplay{
        display: flex;
    }
}