body{
    background-image: url("orange-backpack.jpg");
    background-color: darkgreen;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    z-index: -10;
}
main{
    background-color: rgba(0, 0, 0, .5);
    height: 100%;
    width: 100%;
    position: absolute;
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: lato;
}
h1{
    font-size: 50px;
}
.search-form, .results{
    line-height: 30px;
    font-size: 30px;
}
.search-form{
    padding-top: 70px;
}
.title{
    padding-top: 40px;
    line-height: 20px;
}
input{
    background-color: darkgrey;
    border: solid 1px black;
}
.requested-number, .max-miles{
    width: 40px;
    margin: 10px;
    height: 25px;
}
.starting-point{
    height: 25px;
    width: 150px;
}
.submit{
    background-color: orange;
    border: 1px solid orange;
    border-radius: 5%;
    height: 30px;
    width: 150px;
}