body{
    background-image: url("brown-bear-and-cubs.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    margin: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    z-index: -10;
}
.background{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .55);
    position: fixed;
    z-index: -5;
}
main{
    height: 100%;
    color: white;
    text-align: center;
    font-family: lato;
    margin: 0;
    bottom: 0;
}
h1{
    font-size: 50px;
}
.search-form{
    line-height: 15px;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
.title{
    padding-top: 30px;
    line-height: 20px;
    padding-bottom: 10px;
}
.requested-number, .min-miles, .starting-point, .radius{
    border-radius: 3px;
    padding-left: 10px;
    border: solid 1px black;
    font-size: 15px;
}
.requested-number, .min-miles, .radius{
    width: 60px;
    margin: 10px;
    height: 25px;
}
.starting-point{
    height: 25px;
    width: 150px;
    margin: 10px;
}
.submit{
    background-color: orange;
    border: 1px solid orange;
    color: black;
    border-radius: 3%;
    height: 50px;
    width: 150px;
    margin: 40px;
    font-family: lato;
    font-size: large;
    cursor:pointer;
}
.question{
    margin-top: 20px;
}
ul:first-child{
    margin-top: 10px;
}
.image-results{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.big-picture{
    height: 300px;
    width: 300px;
    cursor: pointer;
}
.trail-name{
    font-size: 25px;
    padding-left: 20%;
    padding-right: 20%;
    margin-right: auto;
    margin-left: auto;
}
.searched-form{
    line-height: 5px;
    font-size: 15px;
    margin: 30px;
    padding-top: 10px;
    text-align: center;
    height: 200px;
    margin-top: 10px;
    padding: 15px;
}
.question-new-form{
    width: 30px;
    height: 10px;
}
.sun-movements{
    text-align: center;
}
.weather{
    line-height: 20px;
    margin: 30px;
    padding: 15px;
}
.img-container{
  height: 350px;
  width: 300px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}
.img-itself{
    height: 100%;
    width: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    justify-content: center;
}
.img-itself:hover{
    transform: rotateY(180deg);
}
.frontside{
    -webkit-backface-visibility: hidden;
    visibility:visible;
    backface-visibility: hidden;
    height: 100%;
    position: absolute;
    width: 100%;
    justify-content: center;
    align-content: center;
}
.backside{
    -webkit-backface-visibility: hidden;
    visibility:visible;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
    height: 100%;
    position: absolute;
    width: 100%;
    background-color: darkgreen;
    transform: rotateY(180deg);
    text-align: left;
    font-size: 12px;
    justify-content: center;
    align-content: center;
}
li{
    line-height: 12px;
    padding: 0;
}
.orangeBox{
    border: 2px solid orange;
    height: 100%;
}
#weather-icon{
    height: 75px;
    width: 75px;
    filter: brightness(1.5)
}
a{
    color: orange;
}
#hover{
    display: none;
}
.results{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0;
    margin: 0;
}
.trail-results{
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}
#instructions{
    padding-left: 20%;
    padding-right: 20%;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}
#backside-list{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 5px;
}
@media screen and (min-width: 600px){
    body{
        background-image: url("mountain-man-2.jpg");
        background-position: center;
    }
    input{
        margin: 10px;
    }
    .search-form{
        line-height: 50px;
        font-size: 30px;
        padding: 30px;
        justify-content: center;
        align-content: center;
    }
    .submit{
        font-size: 30px;
        height: 50px;
        width: 150px;
        margin-top: 30px;
    }
    .searched-form, .weather{
        width: 50%;
        height: 100%;
        font-size: 20px;
    }
    .weather{
        padding-top: 0;
        display: inline-block;
        justify-self: right;
    }
    .orangeBox {
        border: none;
    }
     .searched-form {
        margin-left: 30px;
        margin-top: 30px;
        line-height: 30px;
        display: inline-block;
        justify-self: right;
     }
    .weather {
       line-height: 20px;
       line-height: 25px;  
       margin-top: 30px;
    }
    .flexDisplay{
        display: flex;
    }
    .results{
        display: flex;
        justify-content: center;
        
    }
    .img-container{
        display: inline-block;
        margin-right: auto;
        margin-left: auto;
    }
    .image-results{
        justify-content: center;
        margin: 0;
        display: inline-block;
        width: 50%;
    }
    .trail-name{
        font-size: 20px;
        display: inline-block;
    }
    .requested-number, .min-miles, .radius{
        width: 90px;
        margin: 10px;
        height: 40px;
    }
    .starting-point{
        width: 250px;
        height: 40px;
    }
    .requested-number, .min-miles, .radius, .starting-point{
        font-size: 20px;
    }
    .quesiton{
        margin-top: 50px;
    }
    #instructions{
        font-size: 25px;
    }
}
@media screen and (min-width: 1100px){
    body{
        background-image: url("mountain-top.jpg");
    }
    .image-results{
        width: 30%;
        align-items: center;
        justify-content: flex-end;
    }
    .img-container{
        justify-content: center;
        display: flex;
    }
    .img-itself{
        align-items: center;
    }
    .results{
        width: 100%;
    }
    #tap{
        display: none;
    }
    #hover{
        display: inline;
    }
    #instructions{
        font-size: 40px;
    }
    .requested-number, .min-miles, .radius{
        height: 50px;
    }
    .starting-point{
        height: 40px;
    }
    .requested-number, .min-miles, .radius, .starting-point{
        font-size: 20px;
    }
    .submit{
        font-size: 20px;
    }
    #backside-width{
        width: 70%;
    }
    .trail-results{
        justify-content: flex-start;
    }
}